@using WAF_exercise_Library_Portal_1_Core_WA.Models;

@model LendingViewModel

@if (String.IsNullOrEmpty(ViewBag.Result) == false)
{
    <p>@ViewBag.Result</p>
    <a asp-controller="Home" asp-action="Details" asp-route-bookId="@ViewBag.ReturnBookId">Back to the book</a>
}
<form asp-controller="Lending" asp-action="Add">
    <table>
        <tr>
            <td colspan="2">
                <div asp-validation-summary="ModelOnly" class="failureNotification"></div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="contentHead">
                    Interval:
                </div>
            </td>
        </tr>
        <tr>
            <td width="120">
                Start date [UTC]:
            </td>
            <td height="45" class="failureNotification">
                <input asp-for="StartDate" size="23"/>
                <span asp-validation-for="StartDate"></span>
            </td>
        </tr>
        <tr>
            <td width="120">
                End date [UTC]:
            </td>
            <td height="45" class="failureNotification">
                <input asp-for="EndDate" size="23" />
                <span asp-validation-for="EndDate"></span>
            </td>
        </tr>
        <tr>
            <td width="120">
                Voluem Id:
            </td>
            <td colspan="2" height="45" class="failureNotification">
                <input asp-for="VolumeId" size="37"/>
            </td>
        </tr>
    </table>
    <input type="submit" value="Add lending" class="button" />
</form>

@section Scripts
    {
    @{ Html.RenderPartial("_ValidationScriptsPartial"); }
}


